<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<header>
<a href="http://127.0.0.1:8000">Homepage</a>
    <a href="http://127.0.0.1:8000/hello">/hello</a>
    <a href="http://127.0.0.1:8000/time">/time</a>
    <a href="http://127.0.0.1:8000/time/plus/1">/time/plus/##</a>
    <a href="http://127.0.0.1:8000/histowiz">/histowiz</a>
    <a href="http://127.0.0.1:8000/admin">Admin login</a>
    <a href="http://127.0.0.1:8000/display_meta">display_meta</a>
    <a href="http://127.0.0.1:8000/search">Search books</a>
    <a href="http://127.0.0.1:8000/contact">Contact Us</a>


</header>
{% block title %}{% endblock %}
<body>
  <body style="background-color:LightSteelBlue  ;">
    {% block content %}
    {% endblock %}

    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>
</html>
